
<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
      <li>
          <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
        </li>
    <li>
      <a class="nav-link" [routerLink]="['/sampleone']">SampleOne</a>
    </li>   
    <li>
        <a class="nav-link" [routerLink]="['/arrowfun']">ArrowtestFun</a>
      </li>
      <li>
          <a class="nav-link" [routerLink]="['/attrdircomp']">attributeDirComp</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/servicecomp']">ServiceComp</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/synccomp']">SynchrouenousComp</a>
        </li>
  </ul>
  </nav>
  <router-outlet></router-outlet>

  
 
